.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  background-color: "#fefedf";
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  max-height: 80vh;
  overflow-y: scroll;
}

.main {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll;
}
